nav 
    display: flex
    flex-direction: row
    justify-content: space-between
    width: 100%
    align-items: center

.font-theme-area
    display: flex
    gap: 1rem
    align-items: center
       