<div class="meanings-list">
  @for (meaning of meanings; track meaning){
  <div>
    <h4 class="meanings-list__title">{{ meaning?.partOfSpeech }}</h4>
    <div class="line"></div>
  </div>

  <p class="text-gray">Meaning</p>
  <ul class="definition-list">
    @for (definition of meaning?.definitions; track definition){
    <li>{{ definition?.definition }}</li>
    }
  </ul>

  @if(meaning?.synonyms.length) {
  <p class="text-gray synonyms-container">
    Synonyms <span class="synonyms">{{ meaning?.synonyms.join(", ") }}</span>
  </p>
  } @if(meaning?.antonyms.length) {
  <p class="text-gray synonyms-container">
    Antonyms <span class="synonyms">{{ meaning?.antonyms.join(", ") }}</span>
  </p>
  } }
</div>
